body {
    background-color: rgb(0, 255, 213);
}
.speciaal {
    border: dashed 3px turquoise;
    background-color: azure;
    margin-left: 10%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  <!DOCTYPE html>
<html>
<head>
    <title>Kleuren</title>
</head>
<body>

    <h1>Verschillende Kleuren</h1>

    <p style="background-color: red;">Dit is rood</p>
    <p style="background-color: green;">Dit is groen</p>
    <p style="background-color: blue;">Dit is blauw</p>

</body>
</html>


