body {
    background-color: rgb(0, 255, 213);
}
.speciaal {
    border: dashed 3px turquoise;
    background-color: azure;
    margin-left: 10%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  .waarom-link {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0; 
    border: #f0f0f0 1px solid;
    color: #333;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    font-weight: bold;
    text-decoration: none;
}

.waarom-link:hover {
  border: rgb(224, 64, 64) 1px solid;
}

p {
  width: 50%;

  .footer {
    text-align: center; /* Centreert de tekst */
    position: fixed;    /* Zorgt ervoor dat de footer altijd onderaan blijft */
    bottom: 0;          /* Plaatst de footer onderaan de pagina */
    left: 0;            /* Zorgt ervoor dat de footer volledig breedte van de pagina heeft */
    width: 100%;        /* Maakt de footer zo breed als de pagina */
    background-color: #f1f1f1; /* Optioneel: achtergrondkleur voor de footer */
    padding: 10px 0;    /* Optioneel: ruimte boven en onder de tekst */
}